// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace BookingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Bookings represent confirmed appointments between an end user and a human. Your AI agent creates bookings after finding available slots.
 *
 * Each booking includes the human, time, duration, attendee info, and optional metadata your agent can use to track its own workflow state (lead IDs, conversation IDs, ticket numbers, etc.).
 *
 * Bookings are subject to your plan's monthly limit. On paid plans with auto-purchase enabled, overage packs ($19/500 bookings) are charged automatically when the limit is hit.
 */
export class BookingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BookingsClient.Options>;

    constructor(options: BookingsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List bookings for your organization with optional filters. Results are ordered by start time (most recent first) and paginated.
     *
     * @param {Slotflow.ListBookingsRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bookings.listBookings()
     */
    public listBookings(
        request: Slotflow.ListBookingsRequest = {},
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.BookingsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBookings(request, requestOptions));
    }

    private async __listBookings(
        request: Slotflow.ListBookingsRequest = {},
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.BookingsListResponse>> {
        const { human_id: humanId, status, date_from: dateFrom, date_to: dateTo, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            human_id: humanId,
            status: status != null ? status : undefined,
            date_from: dateFrom != null ? dateFrom : undefined,
            date_to: dateTo != null ? dateTo : undefined,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/bookings",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.BookingsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SlotflowError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/bookings");
    }

    /**
     * Create a booking for a specific time slot. The API validates that:
     *
     * 1. The human exists and is active
     * 2. The duration matches one of the human's allowed `meeting_durations`
     * 3. The time slot falls within working hours (or is covered by an open override)
     * 4. No schedule block overrides conflict with the slot
     * 5. No existing confirmed booking occupies the slot
     *
     * If another booking was created for the same slot between your agent's slot query and this request, you'll receive a `409 SLOT_UNAVAILABLE` error. Your agent should retry with the next available slot.
     *
     * **Metadata** — pass arbitrary JSON (lead IDs, conversation IDs, ticket numbers) that your agent needs to maintain workflow context. This metadata is included in webhook payloads.
     *
     * **Plan limits** — bookings count toward your monthly limit. On paid plans with auto-purchase enabled, overage packs ($19 per 500 bookings) are charged automatically when the limit is reached.
     *
     * @param {Slotflow.CreateBookingRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.PaymentRequiredError}
     * @throws {@link Slotflow.NotFoundError}
     * @throws {@link Slotflow.ConflictError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.bookings.createBooking({
     *         human_id: "f47ac10b-58cc-4372-a567-0e02b2c3d479",
     *         starts_at: "2026-03-10T14:00:00Z",
     *         duration: 30,
     *         attendee_name: "Alex Rivera",
     *         attendee_email: "alex@startup.io",
     *         metadata: {
     *             "lead_id": "lead_8294",
     *             "conversation_id": "conv_1847",
     *             "source": "ai_sdr"
     *         }
     *     })
     */
    public createBooking(
        request: Slotflow.CreateBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.Booking> {
        return core.HttpResponsePromise.fromPromise(this.__createBooking(request, requestOptions));
    }

    private async __createBooking(
        request: Slotflow.CreateBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.Booking>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/bookings",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.Booking, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Slotflow.PaymentRequiredError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                case 409:
                    throw new Slotflow.ConflictError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/bookings");
    }

    /**
     * Cancel a confirmed booking. Sets the status to `cancelled` and triggers the `booking.cancelled` webhook event.
     *
     * Cancelling a booking frees up the time slot, making it available for new bookings.
     *
     * @param {Slotflow.CancelBookingRequest} request
     * @param {BookingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.bookings.cancelBooking({
     *         bookingId: "bookingId"
     *     })
     */
    public cancelBooking(
        request: Slotflow.CancelBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.CancelBookingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelBooking(request, requestOptions));
    }

    private async __cancelBooking(
        request: Slotflow.CancelBookingRequest,
        requestOptions?: BookingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.CancelBookingResponse>> {
        const { bookingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/bookings/${core.url.encodePathParam(bookingId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.CancelBookingResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/bookings/{bookingId}");
    }
}
