// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace ScheduleOverridesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Schedule overrides let you customize availability beyond the base schedule. There are two types:
 *
 * - **Block** — remove availability (vacations, holidays, recurring meetings)
 * - **Open** — add extra availability (weekend overtime, evening hours)
 *
 * Overrides support date ranges, time-specific windows, and recurring patterns (weekly, monthly). They are evaluated by the slot engine alongside base availability rules.
 */
export class ScheduleOverridesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScheduleOverridesClient.Options>;

    constructor(options: ScheduleOverridesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all schedule overrides for a human, ordered by start date.
     *
     * @param {Slotflow.ListOverridesRequest} request
     * @param {ScheduleOverridesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.scheduleOverrides.listOverrides({
     *         humanId: "humanId"
     *     })
     */
    public listOverrides(
        request: Slotflow.ListOverridesRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.ListOverridesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOverrides(request, requestOptions));
    }

    private async __listOverrides(
        request: Slotflow.ListOverridesRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.ListOverridesResponse>> {
        const { humanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}/overrides`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.ListOverridesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/humans/{humanId}/overrides",
        );
    }

    /**
     * Create a schedule override for a human. Overrides modify availability beyond the base schedule.
     *
     * **Block overrides** remove availability:
     * - All-day blocks for vacations or holidays
     * - Time-specific blocks for recurring meetings or focus time
     *
     * **Open overrides** add extra availability:
     * - Weekend or evening hours for overtime
     * - Special event availability outside normal schedule
     *
     * Overrides support date ranges (`start_date` to `end_date`) and recurring patterns via the `recurrence` field.
     *
     * @param {Slotflow.CreateOverrideRequest} request
     * @param {ScheduleOverridesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.scheduleOverrides.createOverride({
     *         humanId: "humanId",
     *         type: "block",
     *         title: "Holiday break",
     *         all_day: true,
     *         start_date: "2026-12-23",
     *         end_date: "2026-12-27"
     *     })
     *
     * @example
     *     await client.scheduleOverrides.createOverride({
     *         humanId: "humanId",
     *         type: "block",
     *         title: "Team standup",
     *         all_day: false,
     *         start_date: "2026-03-01",
     *         start_time: "14:00",
     *         end_time: "15:00",
     *         recurrence: {
     *             freq: "weekly",
     *             days: [2]
     *         }
     *     })
     *
     * @example
     *     await client.scheduleOverrides.createOverride({
     *         humanId: "humanId",
     *         type: "open",
     *         title: "Saturday overtime",
     *         all_day: false,
     *         start_date: "2026-03-01",
     *         start_time: "10:00",
     *         end_time: "14:00",
     *         recurrence: {
     *             freq: "weekly",
     *             days: [6]
     *         }
     *     })
     */
    public createOverride(
        request: Slotflow.CreateOverrideRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.ScheduleOverride> {
        return core.HttpResponsePromise.fromPromise(this.__createOverride(request, requestOptions));
    }

    private async __createOverride(
        request: Slotflow.CreateOverrideRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.ScheduleOverride>> {
        const { humanId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}/overrides`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.ScheduleOverride, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/humans/{humanId}/overrides",
        );
    }

    /**
     * Permanently remove a schedule override. This immediately affects slot availability.
     *
     * @param {Slotflow.DeleteOverrideRequest} request
     * @param {ScheduleOverridesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.scheduleOverrides.deleteOverride({
     *         humanId: "humanId",
     *         overrideId: "overrideId"
     *     })
     */
    public deleteOverride(
        request: Slotflow.DeleteOverrideRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.DeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteOverride(request, requestOptions));
    }

    private async __deleteOverride(
        request: Slotflow.DeleteOverrideRequest,
        requestOptions?: ScheduleOverridesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.DeleteResponse>> {
        const { humanId, overrideId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}/overrides/${core.url.encodePathParam(overrideId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.DeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/humans/{humanId}/overrides/{overrideId}",
        );
    }
}
