// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace SlotsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The slots endpoint is the core of Slotflow. Your AI agent calls this to find when a human is available for booking.
 *
 * The slot engine computes available times by combining the human's base availability rules, schedule overrides (blocks and opens), and existing confirmed bookings. All times are returned in UTC.
 *
 * This is a read-only endpoint — it does not create or modify any data.
 */
export class SlotsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SlotsClient.Options>;

    constructor(options: SlotsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get available booking slots for a human within a date range. This is the core endpoint your AI agent calls to find when a human is free.
     *
     * **How slot computation works:**
     * 1. Loads the human's base availability rules and schedule overrides
     * 2. For each day in the requested range:
     *    - Skips the day if an all-day block override matches
     *    - Generates candidate slots from the base schedule (working days + hours)
     *    - Removes slots that overlap with time-specific block overrides
     *    - Adds extra slots from open overrides (availability outside base hours)
     * 3. Deduplicates overlapping slots
     * 4. Filters out slots that conflict with existing confirmed bookings
     * 5. Returns the remaining available slots
     *
     * All times are returned in **UTC**. The `timezone` field indicates the human's local timezone so your agent can convert for display.
     *
     * Returns an empty `slots` array (not an error) when no availability exists in the range.
     *
     * @param {Slotflow.GetAvailableSlotsRequest} request
     * @param {SlotsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.slots.getAvailableSlots({
     *         humanId: "humanId",
     *         date_from: "2026-03-10",
     *         date_to: "2026-03-14",
     *         duration: 1
     *     })
     */
    public getAvailableSlots(
        request: Slotflow.GetAvailableSlotsRequest,
        requestOptions?: SlotsClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.SlotsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAvailableSlots(request, requestOptions));
    }

    private async __getAvailableSlots(
        request: Slotflow.GetAvailableSlotsRequest,
        requestOptions?: SlotsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.SlotsResponse>> {
        const { humanId, date_from: dateFrom, date_to: dateTo, duration } = request;
        const _queryParams: Record<string, unknown> = {
            date_from: dateFrom,
            date_to: dateTo,
            duration,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}/slots`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.SlotsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/humans/{humanId}/slots");
    }
}
