// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace HumansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Humans represent the real people whose time can be booked through Slotflow. Create a human for each person on your team — sales reps, support agents, recruiters, consultants — anyone an AI agent needs to schedule.
 *
 * Humans are scoped to your organization. Deleting a human is a soft delete (sets `active: false`) so booking history is preserved.
 */
export class HumansClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HumansClient.Options>;

    constructor(options: HumansClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all active humans in your organization. Deactivated humans (soft-deleted) are not returned.
     *
     * @param {HumansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.humans.listHumans()
     */
    public listHumans(
        requestOptions?: HumansClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.ListHumansResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listHumans(requestOptions));
    }

    private async __listHumans(
        requestOptions?: HumansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.ListHumansResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/humans",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.ListHumansResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SlotflowError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/humans");
    }

    /**
     * Create a new human in your organization. Humans represent the real people whose time can be booked by AI agents.
     *
     * The number of humans you can create depends on your plan (Free: 1, Starter: 5, Growth: 25).
     *
     * @param {Slotflow.CreateHumanRequest} request
     * @param {HumansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.PaymentRequiredError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.humans.createHuman({
     *         name: "Sarah Chen",
     *         email: "sarah@acme.com",
     *         role: "sales_rep",
     *         timezone: "America/New_York"
     *     })
     */
    public createHuman(
        request: Slotflow.CreateHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.Human> {
        return core.HttpResponsePromise.fromPromise(this.__createHuman(request, requestOptions));
    }

    private async __createHuman(
        request: Slotflow.CreateHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.Human>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/humans",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.Human, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Slotflow.PaymentRequiredError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/humans");
    }

    /**
     * Get a single human by ID, including their availability rules. Returns `availability_rules: null` if rules haven't been configured yet.
     *
     * @param {Slotflow.GetHumanRequest} request
     * @param {HumansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.humans.getHuman({
     *         humanId: "humanId"
     *     })
     */
    public getHuman(
        request: Slotflow.GetHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.HumanWithAvailability> {
        return core.HttpResponsePromise.fromPromise(this.__getHuman(request, requestOptions));
    }

    private async __getHuman(
        request: Slotflow.GetHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.HumanWithAvailability>> {
        const { humanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.HumanWithAvailability, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/humans/{humanId}");
    }

    /**
     * Soft delete a human by setting `active: false`. The human will no longer appear in listings or be available for booking, but their booking history is preserved.
     *
     * @param {Slotflow.DeleteHumanRequest} request
     * @param {HumansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.humans.deleteHuman({
     *         humanId: "humanId"
     *     })
     */
    public deleteHuman(
        request: Slotflow.DeleteHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.DeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteHuman(request, requestOptions));
    }

    private async __deleteHuman(
        request: Slotflow.DeleteHumanRequest,
        requestOptions?: HumansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.DeleteResponse>> {
        const { humanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.DeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/humans/{humanId}");
    }
}
