// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace WebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Webhooks notify your systems in real-time when booking events occur. Register a URL and Slotflow will POST event payloads to it whenever a booking is confirmed or cancelled.
 *
 * Delivery is best-effort with automatic retries: immediate → 5 minutes → 60 minutes (3 attempts max). Any 2xx response is considered successful.
 */
export class WebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

    constructor(options: WebhooksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all registered webhooks for your organization.
     *
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.listWebhooks()
     */
    public listWebhooks(
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.ListWebhooksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listWebhooks(requestOptions));
    }

    private async __listWebhooks(
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.ListWebhooksResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/webhooks",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.ListWebhooksResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SlotflowError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/webhooks");
    }

    /**
     * Register a URL to receive webhook notifications for booking events. Slotflow will POST event payloads to your URL whenever a matching event occurs.
     *
     * **Supported events:**
     * - `booking.confirmed` — a new booking was created
     * - `booking.cancelled` — a booking was cancelled
     *
     * Duplicate URLs (same organization, same active URL) are rejected. The number of webhooks you can register depends on your plan.
     *
     * @param {Slotflow.CreateWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.PaymentRequiredError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.webhooks.createWebhook({
     *         url: "https://your-agent.com/webhooks/slotflow",
     *         events: ["booking.confirmed", "booking.cancelled"]
     *     })
     */
    public createWebhook(
        request: Slotflow.CreateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.Webhook> {
        return core.HttpResponsePromise.fromPromise(this.__createWebhook(request, requestOptions));
    }

    private async __createWebhook(
        request: Slotflow.CreateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.Webhook>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                "v1/webhooks",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.Webhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Slotflow.PaymentRequiredError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/webhooks");
    }

    /**
     * Remove a webhook endpoint. You will stop receiving event notifications at this URL immediately.
     *
     * @param {Slotflow.DeleteWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     *
     * @example
     *     await client.webhooks.deleteWebhook({
     *         webhookId: "webhookId"
     *     })
     */
    public deleteWebhook(
        request: Slotflow.DeleteWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.DeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteWebhook(request, requestOptions));
    }

    private async __deleteWebhook(
        request: Slotflow.DeleteWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.DeleteResponse>> {
        const { webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/webhooks/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.DeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/webhooks/{webhookId}");
    }
}
