// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Slotflow from "../../../index.js";

export declare namespace AvailabilityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Availability rules define a human's base schedule — which days they work, what hours, and what meeting durations they offer. This is the foundation that the slot engine uses to compute bookable time.
 *
 * Rules are set per human and apply to every week. For exceptions (vacations, overtime, recurring meetings), use Schedule Overrides.
 */
export class AvailabilityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AvailabilityClient.Options>;

    constructor(options: AvailabilityClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Set or replace availability rules for a human. This is a full replace — send all fields every time.
     *
     * Availability rules define the human's base weekly schedule:
     * - **working_days** — which days of the week (1=Monday through 7=Sunday)
     * - **work_start / work_end** — working hours in HH:MM format (in the human's timezone)
     * - **meeting_durations** — allowed meeting lengths in minutes
     *
     * For one-off changes (vacations, overtime, recurring meetings), use Schedule Overrides instead.
     *
     * @param {Slotflow.SetAvailabilityRequest} request
     * @param {AvailabilityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Slotflow.NotFoundError}
     * @throws {@link Slotflow.UnprocessableEntityError}
     *
     * @example
     *     await client.availability.setAvailability({
     *         humanId: "humanId",
     *         working_days: [1, 2, 3, 4, 5],
     *         work_start: "09:00",
     *         work_end: "17:00",
     *         meeting_durations: [30, 60]
     *     })
     */
    public setAvailability(
        request: Slotflow.SetAvailabilityRequest,
        requestOptions?: AvailabilityClient.RequestOptions,
    ): core.HttpResponsePromise<Slotflow.HumanWithAvailability> {
        return core.HttpResponsePromise.fromPromise(this.__setAvailability(request, requestOptions));
    }

    private async __setAvailability(
        request: Slotflow.SetAvailabilityRequest,
        requestOptions?: AvailabilityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Slotflow.HumanWithAvailability>> {
        const { humanId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SlotflowEnvironment.Production,
                `v1/humans/${core.url.encodePathParam(humanId)}/availability`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Slotflow.HumanWithAvailability, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Slotflow.NotFoundError(_response.error.body as Slotflow.ApiError, _response.rawResponse);
                case 422:
                    throw new Slotflow.UnprocessableEntityError(
                        _response.error.body as Slotflow.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SlotflowError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/humans/{humanId}/availability",
        );
    }
}
